body{  
    height: 100%;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif; 
}  

/*Navigation Bar*/
header * {  
    display: inline; 
    align-content: center;
}  
header{  
    background-color: black; 
    opacity: 0.8; 
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    z-index: 5;
}  
header li {  
    margin: 50px; 
}  
header li a {  
    color: #8CFD0B;  
    text-decoration: none;  
}  
header:hover li:hover a:hover{
    font-size: 125%;
    font-weight: bold;
}
header img{
    height: 20px;
    position: absolute;
    right: 5%;
}

/*Intro*/
#intro{
    font-size: 50px;
    color: #8CFD0B;
    position: absolute;
    left: 30%;
    right: 30%;
    width: 40%;
    text-align: center;
    background-color: #141414;
    border-radius: 25px 25px 0px 0px;
}
#intro_text{
    font-size: 20px;
    color: #8CFD0B;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #141414;
    border-radius: 0px 0px 25px 25px;
}

/*Gradient*/
#gradient{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    height: 255%;
    background: linear-gradient(to bottom right,#141414, #8CFD0B, #8CFD0B, #141414);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

/*About Me section*/
#aboutme_sec{
    position: absolute;
    top: 113.09%;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
}

/*Skills*/
#skills_sec{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: absolute;
    top: 138.18%;
    left: 0;
    right: 0;
}
.skill {
    border: 1px solid #141414;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    width: 2in;
    font-size: 40px;
    box-shadow: 0 3px 10px #141414;
    color: white;
}
.skills_sec h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
}
.skill img {
    height: 35px;
    align-items: center;
}

/*Gradient Reverse*/
#gradient_r{
    background-image: linear-gradient(to bottom right,#335f01, #141414);
    position: absolute;
    top: 222.5%;
    left: 0;
    right: 0;
    width: 100%;
    height: 127.5%;
}

/*Projects*/
#projects_sec{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: absolute;
    top: 190%;
    left: 0;
    right: 0;
}
.projects{
    border: 1px solid #141414;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 2.5%;
    padding: 10px;
    width: 45%;
    font-size: 40px;
    box-shadow: 0 3px 10px #141414;
    color: white;
}
.projects img {
    height: 370px;
    align-items: center;
}

/*Contact*/
#contact{
    position: absolute;
    color: white;
    top: 284.18%;
    left: 0;
    right: 0;
}
* {
    box-sizing: border-box;
    }
    
    input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #141414;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    
    input[type=submit] {
    background-color: #141414;
    color: white;
    padding: 12px 20px;
    border: none; 
    cursor: pointer;
    }
    
    input[type=submit]:hover {
    background-color: #000000;
    }
    
    .container {
    border-radius: 5px;
    padding: 10px;
    }
    
    .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    }

    .column img{
        width: 70%;
        height: 496px;
        object-fit: scale-down;
    }
    
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Responsive layout*/
    @media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    }

/*Interactive Background*/
#background {
position: absolute;
top: 0; 
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}

#particles {
background: #000000;
position: absolute;
right: 0.05%;
height: 100%;
}

#hexagonGrid {
position: absolute;
top: 10; 
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
overflow: hidden;

.row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
    
    &:nth-child(even) {
    margin-left: 2px;
    }
    
    .hexagon {
    position: relative;
    width: 100px; 
    height: 110px;
    margin: 4px 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
    
    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: #000000;
        opacity: 0.95;
        transition: 1s;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 4px; 
        right: 4px; 
        bottom: 4px; 
        left: 4px;
        background: #141414;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    
    &:hover {
        &::before {
        background-color: #8CFD0B;
        opacity: 1;
        transition: 0s;
        }
        
        &::after {
        background: #000000;
        }
    }
    }
    }
}