body {
height: 100%;
margin-top: 80px;
padding: 30px;
background-size: cover;
font-family: sans-serif;
scroll-behavior: smooth;
}

#Overall_Contaier{
  display: flex;
  flex-wrap: wrap;
}

/* Navigation Bar */
header * {
display: inline;
align-content: center;
}

header {
background-color: black;
opacity: 0.8;
position: fixed;
left: 0;
right: 0;
top: 5px;
height: 30px;
display: flex;
align-items: center;
z-index: 5;
}

header li {
margin: 50px;
}

header li a {
color: #8CFD0B;
text-decoration: none;
}

header:hover li:hover a:hover {
font-size: 125%;
font-weight: bold;
}

/* Intro */
#intro {
font-size: 50px;
color: #8CFD0B;
position: absolute;
left: 30vw;
right: 30vw;
width: 40vw;
text-align: center;
background-color: #141414;
border-radius: 25px 25px 0px 0px;
}

#intro_text {
font-size: 20px;
color: #8CFD0B;
position: absolute;
width: 100%;
text-align: center;
background-color: #141414;
border-radius: 0px 0px 25px 25px;
}

/* Gradient */
#gradient {
position: absolute;
left: 0;
right: 0;
top: 100vh;
width: 100%;
height: 330vh;
background: linear-gradient(to bottom right, #141414, #8CFD0B, #8CFD0B, #141414);
background-size: 600% 100%;
animation: gradient 16s linear infinite;
animation-direction: alternate;
}

@keyframes gradient {
0% {
  background-position: 0%
}

100% {
  background-position: 100%
}
}

/* About Me section */
#aboutme_sec {
position: absolute;
top: 100vh;
left: 0;
right: 0;
color: white;
width: 100%;
margin-bottom: 5vh;
height: 30vh;
}

#aboutme_sec h2{
  position: relative;
  top: 0;
  margin-bottom: 4vh;
  color: white;
  width: 100%;
  text-align: center;
}

/* Skills */
#skills_sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 138.18vh;
  left: 0;
  right: 0;
  height: 60vh;
}

#skills_sec h1{
position: absolute;
top: 0;
margin-bottom: 4vh;
color: white;
font-size: 30px;
}

.skill {
position: relative;
width: 20vw;
height: 15vh;
margin: 2.5vh;
padding: 1.5vh;
border: 1px solid #000000;
border-radius: 6px;
box-shadow: 0 3px 10px #000000;
color: white;
background-color: #141414;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
transition: transform 0.5s;
perspective: 1000px;
top: 5vh;
bottom: 20%;
}

.skill:hover {
transform: rotateY(180deg);
}

.content {
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 0.5s;
}

.content:hover {
transform: rotateY(180deg);
}

.front-content,
.back-content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.back-content {
transform: rotateY(180deg);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.back-content p {
transform: rotateY(180deg);
}

.skill:hover .content {
transform: rotateY(180deg);
}

.skill h6 {
margin-top: 8px;
margin-bottom: 5px;
font-size: 20px;
font-weight: bold;
}

.skill img {
height: 6vh; 
margin-bottom: 10px;
}

.projectstitle{
position: absolute;
top: 200vh;
text-align: center;
color: white;
width: 90%;
margin: 2.5%;
}

/* Projects (May remove slideshow in future) */
#projects_sec {
position: absolute;
top: 220vh;
left: 0;
right: 0;
height: 75vh;
overflow: hidden;
align-items: center;
}

.slideshow {
display: flex;
width: 300%; 
animation: slide 30s linear infinite; 
height: 100%;
}

.slide {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #141414; 
border-radius: 6px;
}

.slide img {
max-height: 100%;
max-width: 100%;
object-fit: contain;
border-radius: 5px;
}

@keyframes slide {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-66.66%);
}
}

/* Contact */
#contact {
  position: absolute;
  color: white;
  top: 300vh;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 2vh;
  border: 1px solid #141414;
  margin-top: 1.5vh;
  margin-bottom: 3vh;
  resize: vertical;
}

input[type=submit] {
  background-color: #141414;
  color: white;
  padding: 2vh 4vw;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

.container {
  border-radius: 5px;
  padding: 1vh;
}

.column {
  float: none;
  width: 50%;
  margin-top: 1.5vh;
  padding: 2vh;
  margin-left: 25%;
  margin-right: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Interactive Background*/
#background {
position: absolute;
top: 0; 
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}
#particles {
background: #000000;
position: absolute;
right: 0.05%;
height: 100%;
}
#hexagonGrid {
position: absolute;
top: 10; 
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
overflow: hidden;
.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
  
  &:nth-child(even) {
  margin-left: 2px;
  }
  .hexagon {
  position: relative;
  width: 100px; 
  height: 110px;
  margin: 4px 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
  &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: #000000;
      opacity: 0.95;
      transition: 1s;
  }
  &::after {
      content: '';
      position: absolute;
      top: 4px; 
      right: 4px; 
      bottom: 4px; 
      left: 4px;
      background: #141414;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  &:hover {
      &::before {
      background-color: #8CFD0B;
      opacity: 1;
      transition: 0s;
      }
      &::after {
      background: #000000;
      }
  }
  }
  }
}
